
.backgroundImage{
max-width: 70rem;
width: auto;
max-height: 70rem;
height: auto;
}

.center{
  color:white;
    background-color: var(--navbar);
    padding: 1rem;
    max-width: 50rem;
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            &_password{
                width: 200px;
            }
            
}

::ng-deep{.topclass{
    top: 60px !important;
  }
}

.backgroundMain{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1166%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c563.168C108.401%2c572.836%2c235.144%2c560.852%2c309.166%2c481.072C382.928%2c401.572%2c331.795%2c270.18%2c367.01%2c167.608C397.204%2c79.661%2c486.909%2c20.463%2c498.959%2c-71.739C512.81%2c-177.72%2c508.309%2c-299.029%2c438.583%2c-380.035C368.831%2c-461.071%2c247.201%2c-463.469%2c142.621%2c-485.722C45.615%2c-506.364%2c-51.736%2c-527.723%2c-148.254%2c-504.906C-248.056%2c-481.313%2c-344.766%2c-434.39%2c-409.833%2c-355.122C-474.119%2c-276.807%2c-488.458%2c-172.592%2c-503.308%2c-72.365C-518.217%2c28.256%2c-538.075%2c133.906%2c-496.013%2c226.521C-453.918%2c319.207%2c-359.875%2c371.746%2c-275.646%2c428.913C-189.335%2c487.493%2c-103.901%2c553.901%2c0%2c563.168' fill='%23e3e3e3'%3e%3c/path%3e%3cpath d='M1440 1095.688C1545.136 1109.903 1664.388 1103.982 1746.138 1036.3600000000001 1826.529 969.863 1818.124 847.2660000000001 1857.247 750.55 1894.172 659.27 1969.762 582.316 1969.638 483.85 1969.5059999999999 379.597 1919.938 281.826 1856.551 199.05700000000002 1790.5 112.80900000000003 1705.45 41.02999999999997 1602.951 5.038000000000011 1497.283-32.06700000000001 1381.756-35.85000000000002 1273.948-5.520999999999958 1165.408 25.01400000000001 1056.6 80.29399999999998 996.451 175.663 938.836 267.014 975.565 384.113 960.735 491.092 946.004 597.353 863.691 705.268 909.592 802.229 955.5350000000001 899.278 1088.856 908.216 1182.809 960.197 1269.349 1008.077 1341.99 1082.437 1440 1095.688' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1166'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.flex-reverse{
  flex-wrap: nowrap;
}

@media screen and (max-width: 730px) {
  // .flex-reverse{
  //   flex-wrap: wrap-reverse;
  // }
  // .center{
  //   position: absolute;
  // }
  .backgroundImage{
    display: none;
  }
 
}