<div class="w-screen h-screen backgroundMain flex flex-column justify-content-center">
    <p-toast styleClass="text-xl topclass"></p-toast>
<div class="flex justify-content-center  align-items-center flex-reverse">
<div class="center p-5">
<div class="flex align-content-center justify-content-center mb-4 gap-3">
   <h2>{{Heading}}</h2>
   <div class="text-center"><i class="pi pi-user border-circle border-1 p-3"></i></div>
</div>

<ng-template [ngIf]="showLoginForm">
<form #authForms="ngForm" (ngSubmit)="onSubmit(authForms)">
    <div class="flex align-content-center flex-column gap-5">
    <input type="email" name="email" pInputText placeholder="Email id" class="h-5rem max-w-30rem w-full text-2xl align-self-center" ngModel required email/>
    <input type="password" id="password" pInputText placeholder="Password" class="h-5rem max-w-30rem w-full  text-2xl align-self-center" ngModel name="password" required minlength="4" />
    <div class="flex justify-content-center">
        <button pButton class="border-round-xl  py-2 text-2xl text-center text-white" label="Login" [disabled]="!authForms.valid"></button>
    </div>
</div>
<div class="flex justify-content-center"><p class="text-2xl">Don't Have an Account ? <a class="cursor-pointer underline text-white" (click)="toggleLoginSignup()">Create One</a></p>
</div>
</form>
</ng-template>

<ng-template [ngIf]="!showLoginForm">
<form #accountForms="ngForm" (ngSubmit)="onCreateAccount(accountForms)" >
    <div class="flex  flex-column gap-5">
            <input type="text" name="username" pInputText placeholder="Your Full Name" class="h-5rem text-2xl w-30rem align-self-center" ngModel required username/>
            <input type="email" name="email" pInputText placeholder="Email id" class="h-5rem text-2xl w-30rem align-self-center" ngModel required email/>
            <input type="password" id="password" pInputText placeholder="Password" class="h-5rem text-2xl w-30rem align-self-center" ngModel name="password" required minlength="4" />
            <input type="password" id="repassword" pInputText placeholder="Confirm Your Password" class="h-5rem text-2xl w-30rem align-self-center" ngModel name="repassword" required minlength="4" />
       
        <div class="flex justify-content-center"><button pButton class="w-9rem text-2xl text-center text-white" label="Sign Up" [disabled]="!accountForms.valid"></button>
</div></div>
</form>
<div class="flex justify-content-center"><p class="text-2xl">Already Have an Account ? <a class="cursor-pointer text-white underline" (click)="toggleLoginSignup()">Login</a></p>
</div>
</ng-template>

</div>
<div class="backgroundImage">
    <img src="../../../assets/images/checklist-min.jpg" alt="" width="100%" height="auto">
</div>

</div>
</div>