<div class="history ">
    <div class="flex justify-content-between realwidth border-bottom-1 p-2 border-500">
        <div class="flex align-items-center gap-5">
            <h3><i class="pi pi-history text-2xl"></i> Edit History</h3>
        </div>
    </div>
    <div class="flex flex-column mt-4"> 
    <div class="flex justify-content-between h-3rem align-items-center text-xl">
       <li> "This was is previous task " <span class="text-orange-600">Is Changed To</span> "This is new updated task"</li>
       <div>
        <span>19/05/2023 At 19:40 PM</span>
    </div>
    </div>
    <div class="flex justify-content-between h-3rem align-items-center text-xl">
        <li>"This was is previous task"<span class="text-orange-600">Is Changed To</span> "This is new updated task"</li>
        <div>
         <span>19/05/2023 At 19:40 PM</span>
     </div>
     </div>
     <div class="flex justify-content-between h-3rem align-items-center text-xl">
        <li> "This was is previous task " <span class="text-orange-600">Is Changed To</span> "This is new updated task"</li>
        <div>
         <span>19/05/2023 At 19:40 PM</span>
     </div>
     </div>
  
    </div>
</div>
