<div class="history ">
    <div class="flex justify-content-between realwidth border-bottom-1 p-2 border-500">
        <div class="flex align-items-center gap-5">
            <h3><i class="pi pi-history text-2xl mr-3"></i>History & Analytics</h3>
        </div>
    </div>

<div class="flex">
    <div class="graphShow">
        <label class="text-2xl"> <i class="pi pi-chart-line text-2xl mr-3"></i> Last 7 Days Performance</label>
    
        //graph here
    </div>
    <div class="graphShow">
       
    </div>
</div>
</div>
