<div class="history ">
    <div class="flex justify-content-between realwidth border-bottom-1 p-2 border-500">
        <div class="flex align-items-center gap-5">
            <h3><i class="pi pi-info-circle text-2xl mr-3"></i>About</h3>
        </div>
    </div>


    <div class="p-2 text-2xl text-gray-600">
        <br>
Welcome to my Todo Website!
<br>
<br>
My name is Rohit Bairwa, and I am the creator of this amazing Todo website. I developed this website with the aim of helping individuals like you stay organized and manage your tasks efficiently.
<br>
<br>
Features:
<br>
1. Task Management: With this website, you can easily add, delete, and edit tasks. Whether it's a simple daily reminder or a complex project, you can keep track of all your tasks in one place.
<br>
<br>
2. Priority Setting: To ensure that you prioritize your tasks effectively, this website allows you to assign priorities to each task. You can mark tasks as high, medium, or low priority, helping you focus on what's important.
<br>
3. Schedule and Time Left: Planning your day becomes effortless with the scheduling feature. You can set due dates and reminders for your tasks. Additionally, the website calculates and displays the time left for each task, so you never miss a deadline.
<br>
<br>
4. PrimeNG Integration: I have utilized PrimeNG, a popular Angular UI component library, to enhance the visual appeal and functionality of this website. PrimeNG provides a wide range of pre-built UI components, making the user experience seamless and intuitive.
<br>
<br>
5. CKEditor: For tasks that require detailed descriptions or notes, I have integrated CKEditor, a powerful rich text editor, into the website. CKEditor enables you to format your task descriptions, add images, create lists, and much more.
<br>
<br>
6. PrimeFlex: To ensure responsive and flexible layout designs, I have incorporated PrimeFlex, a lightweight grid system, into the website. PrimeFlex allows for easy alignment and positioning of elements, making the website adaptable to different screen sizes and devices.
<br>
<br>
Responsive Design: This website has been developed with a responsive design approach. It automatically adjusts its layout and adapts to different screen sizes, such as desktops, laptops, tablets, and mobile devices. Whether you access the website from a large monitor or a small smartphone screen, you will have a consistent and user-friendly experience.
<br>
<br>
I hope you find this Todo website helpful in organizing your tasks and boosting your productivity. If you have any feedback or suggestions, feel free to reach out. Happy task managing!
    </div>
<!-- <div class="flex" *ngFor="let task of todaysData">
    <div [innerHTML]="task.history.current"></div>
    <div></div>


</div> -->
</div>
