<div class="grid m-0">
    <div class="col-12  p-0 z-3 fixed"><app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar></div>
</div>
<div class="flex">
    <div class="sidebar mt-8 z-1" [ngClass]="{'show': isSidebarOpen}">
        <app-sidebar></app-sidebar>
        </div>
    <div class="checklistwidth mt-8 flex justify-content-center container">
        <div class="responsiveCheck z-0">
        <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div class=" subtasktemp  sm:container md:p-0 mt-8 "><app-listtemplate [currentId]="currentId" ></app-listtemplate></div> -->
</div>