
.boxshadow{
    min-width: 38.4rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    word-wrap: break-word;
    position: fixed;
    font-family: 'roboto';
}

.onhovericon:hover{
font-weight: bolder;

}

@media only screen and (max-width: 1200px) {
    .boxshadow{
        width:100vw ;
        -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        word-wrap: break-word;
        position: static;
    }
    
}

.scrollheaddesk{
    max-height: 29rem;
    overflow-x: hidden;
    overflow-y: auto;
}

::ng-deep{ .p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

    &.custombar1 {
        font-family: 'roboto';
        max-height: 300px;
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: rgb(206, 206, 206);
            opacity: 1;
            -webkit-transition: background-color .2s;
            -o-transition: background-color .2s;
            transition: background-color .2s;

            &:hover {
                background-color: rgb(114, 114, 114);
            }
        }
    }
}
}