<section class="checklist md:container sm:p-1 textColor mr-8">
    <p-toast styleClass="text-xl topclass"></p-toast>
    <div class="flex justify-content-between realwidth border-bottom-1 p-2 border-500">
        <div class="flex align-items-center gap-5">
            <h3>My Tasks</h3>
            <!-- <i class="pi pi-sort-alt p-3 border-round-xl cursor-pointer hover:bg-gray-300"
                (click)="sortTaskData()"></i> -->
        </div>
        <div class="flex align-items-center gap-3">
            <!-- <i class="pi pi-angle-left text-2xl p-2 border-circle hover:bg-gray-400" ></i> -->
            <i class="pi pi-calendar text-3xl cursor-pointer" pTooltip="Select Date" tooltipPosition="top"
                (click)="toggleCalendar()"></i>
            <p-calendar [(ngModel)]="formatedDate" #calendar [defaultDate]="defaultDate" dateFormat="dd/m/yy"
                styleClass="text-2xl" panelStyleClass="panel-left"></p-calendar>
            <!-- <i class="pi pi-angle-right text-2xl p-2 border-circle hover:bg-gray-400"></i> -->
        </div>
    </div>
    <p-dialog [(visible)]="displayModal" [modal]="true"
        [style]="{width: '50vw'}" [baseZIndex]="10000" styleClass="PhoneResponsive" id="style-2">
        <div *ngFor="let tasks of todaysTask">
            <ng-container *ngIf="tasks.id==modalClickedId">
                <div class="flex justify-content-between p-3 align-items-center">
                    <div class="text-4xl font-bold text-gray-700">Task</div>
                    <div class="text-2xl font-bold" [ngClass]="{ 'text-red-700': CalculatedTimeDiff[0]<2 ,'text-gray-700' : CalculatedTimeDiff[0]>2 }">
                    <app-countdown [value]="CalculatedTimeDiff" [startPositive]="false" [day]="true"></app-countdown></div>
                </div>
                <div class="flex flex-column gap-3 text-2xl p-3" >
                    <p-inplace #statusInplace styleClass="text-2xl" (click)="hideInplace()">
                        <ng-template pTemplate="display">
                            {{ModalHeading}}
                        </ng-template>
                        <ng-template pTemplate="content">
                            <input type="text" [(ngModel)]="ModalHeading" (click)="this.hidInplace=false" class="text-2xl max-w-full w-full h-auto" pInputText>
                        </ng-template>
                    </p-inplace>
                    <div class="text-4xl font-bold text-gray-700">Description</div>
                    <div *ngIf="showeditor;else editor" (click)="toggle()"
                        class="cursor-pointer hover:bg-gray-200 border-round-xl p-2 w-full"
                        style="word-wrap: break-word; overflow: auto;">
                        <div style="overflow-y:hidden; padding-right: 15px;" [innerHTML]="tasks.desc">
                        </div>
                    </div>
                    <ng-template #editor>
                        <p-editor [(ngModel)]="ModalDesc" [style]="{'height':'320px'}"></p-editor>
                    </ng-template>
                    <!-- <div class="flex justify-content-between">
                        <label class="text-4xl font-bold">Date & Time</label>
                        <div>{{tasks.date}} {{tasks.time}}</div>
                    </div> -->
                    <hr class="border-bottom-1 border-gray-200 w-full">
                    <div class="flex justify-content-between">
                        <label class="text-4xl font-bold text-gray-700">Due Date</label>
                        <div>
                            <p-inplace [closable]="true" styleClass="text-2xl">
                                <ng-template pTemplate="display">
                                    {{ModalDueDate | date :'short'}}
                                </ng-template>
                                <ng-template pTemplate="content">
                         <p-calendar [(ngModel)]="ModalDueDate" [showTime]="true" pTooltip="Due Date" tooltipPosition="left"
                    [defaultDate]="defaultDate" inputId="time" panelStyleClass="position-left"
                    styleClass="border-1 border-round-xl border-gray-400 h-3rem" dateFormat="dd/m/yy"
                    inputStyleClass="text-xl text-gray-600"></p-calendar>
                                </ng-template>
                            </p-inplace>
                        </div>
                    </div>
                    <div class="flex justify-content-between">
                        <label class="text-4xl font-bold text-gray-700">Priority</label>
                        <div>
                            <p-inplace [closable]="true" styleClass="text-2xl">
                                <ng-template pTemplate="display">
                                    {{ModelPriority?.name}}
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <p-dropdown [options]="priorityLevel" [(ngModel)]="ModelPriority" pTooltip="Priority"
                                        tooltipPosition="top" optionLabel="name"></p-dropdown>
                                </ng-template>
                            </p-inplace>
                        </div>
                    </div>
                    <div class="flex justify-content-between">
                        <label class="text-4xl font-bold text-gray-700">Status</label>
                        <div> <p-inplace [closable]="true" styleClass="text-2xl">
                            <ng-template pTemplate="display">
                                {{ModelStatus?.name}}
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p-dropdown [options]="statusLevel" [(ngModel)]="ModelStatus" pTooltip="Status"
                                    tooltipPosition="top" optionLabel="name"></p-dropdown>
                            </ng-template>
                        </p-inplace></div>
                    </div>
                    <div class="flex justify-content-end mt-4">
                        <div><button pButton class="text-2xl p-0 h-3rem px-3 bg-green-800"
                                (click)="onEditModalSave(tasks)">Save</button></div>
                    </div>
                </div>
            </ng-container>
        </div>
    </p-dialog>

    <div class="card heightResposive" id="style-2">
        <p-table [value]="todaysTask" dataKey="id" editMode="row" [loading]="loading" [reorderableColumns]="true">
            <ng-template pTemplate="body" let-tasks let-editing="editing" let-ri="rowIndex">
                <tr [pReorderableRow]="ri" class="flex align-items-center hover:bg-gray-200" [pReorderableRow]="ri"
                    *ngIf="tasks.date==formatedDate.toLocaleString().split(',').splice(0,1)[0];" [pEditableRow]="tasks">
                    <div class="p-3">
                        <img src="../../../assets/icons/drag.svg" alt="" height="13px" width="17px" [pReorderableRowHandle] class="cursor-move ml-2">
                    </div>
                    <div class="w-3rem h-3rem flex align-items-center justify-content-center border-round-xl mr-2">
                        <p-confirmPopup></p-confirmPopup>
                        <ng-container *ngIf="!tasks.completed; else checked">
                            <i class="pi pi-circle text-2xl cursor-pointer" (click)="markItComplete(tasks)"></i>
                        </ng-container>

                        <ng-template #checked>
                            <i class="pi pi-check-circle text-2xl cursor-pointer" (click)="markItComplete(tasks)"></i>
                        </ng-template>
                    </div>
                    <td class="text-2xl border-0 siztex">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" class="w-full text-2xl"  autofocus [(ngModel)]="tasks.heading"
                                    maxlength="150">
                            </ng-template>
                            <ng-template pTemplate="output">
                                <div [ngClass]="{'line-through': tasks.completed}" class="cursor-pointer"
                                    (click)="showModalDialog(tasks)">
                                    {{tasks.heading|slice:0:80}}<span *ngIf="tasks.heading.length>77">...</span>
                                </div>
                            </ng-template>
                        </p-cellEditor>

                    </td>
                    <!-- <div class="bg-green-100 flex align-items-center cursor-pointer border-green-500 border-round-2xl border-1 text-2xl px-2 text-green-900 hover:bg-green-300 " (click)="openSubtasksbar(tasks.id)">View Details
                            </div> -->
                    <td class="border-0">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(tasks)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(tasks)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(tasks, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td >
                    <div class="md:p-4 sm:p-1">
                        <i class="pi pi-trash text-2xl text-gray-300 cursor-pointer hover:text-red-600" pTooltip="Delete"
                        tooltipPosition="right" (click)="confirm($event,tasks.id)"></i>
                    </div>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <div class="border-1 border-round-xl p-3 mt-3" *ngIf="addlistvalue">
        <div class="flex justify-content-between gap-1">
            <input pInputText type="text" name="" id="" class="max-w-full w-full border-0 text-2xl mb-2"
                placeholder="Task Name" [(ngModel)]="newTaskName" maxlength="300">
            <i class="pi pi-times border-circle cursor-pointer p-1" pTooltip="Close" tooltipPosition="top"
                (click)="addlistvalue=false"></i>
        </div>

        <input pInputText type="text" name="" id="" class="w-full border-0 text-xl" placeholder="Description"
            [(ngModel)]="newTaskdescription" maxlength="1000">
        <div class="flex justify-content-between mt-3 border-top-1 pt-3 border-gray-300">
            <div class="flex gap-3 align-items-center p-2">
                <p-dropdown [options]="priorityLevel" [(ngModel)]="priority" pTooltip="Priority" tooltipPosition="top"
                    optionLabel="name"></p-dropdown>
                <p-calendar [(ngModel)]="scheduleDateTime" [showTime]="true" pTooltip="Due Date" tooltipPosition="top"
                    [defaultDate]="defaultDate" inputId="time"
                    styleClass="border-1 border-round-xl border-gray-400 h-3rem" dateFormat="dd/m/yy"
                    inputStyleClass="text-xl text-gray-600" panelStyleClass="positionleft"></p-calendar>
            </div>
            <div class="flex gap-3 align-items-center p-2">
                <button pButton class="text-2xl p-0 h-3rem px-3 bg-green-800" (click)="addnewtask()">Save</button>
            </div>
        </div>
    </div>


    <div class="flex mt-5 gap-2 align-items-center onhoverbtn mb-2 px-1 " (click)="addlist()">
        <i class="pi pi-plus text-xl onhovericon  border-1 border-white p-1 cursor-pointer"></i>
        <label class="text-xl cursor-pointer ">Add Task</label>
    </div>
</section>