<section class="navbar w-full  h-auto py-3 align-items-center px-5 iconscolor m-0 p-0" [ngStyle]="{'background':themeArray[0]}">
  <div class="flex justify-content-between align-items-center">
    <div class="flex justify-content-around align-items-center gap-5">
      <div
        class="flex align-items-center  hoverbtn border-circle w-3rem h-3rem align-items-center justify-content-center"
        (click)="toggleSidebar.emit()">
        <i class="pi pi-bars text-4xl "></i>
      </div>
      <h3>Todo'<span class="text-orange-100">s</span></h3>
      <span class="p-input-icon-left p-ml-auto text-gray-800">
        <i class="pi pi-search text-2xl"></i>
        <input pInputText type="text" [(ngModel)]="searchkey" placeholder="Search keyword"
          class="text-overflow-ellipsis max-w-10rem sm:min-w-2rem md:max-w-25rem h-3rem text-xl mr-2"
          (click)="searching=true" (blur)="hideSearching()" />
      </span>
    </div>

    <div class="flex align-items-center  gap-2">
      <div class="flex align-items-center cursor-pointer" (click)="notification_bar=!notification_bar">
        <!-- <div class="border-circle navbar_notify relative text-xs flex justify-content-center align-items-center hoverbtn">2
        </div> -->
        <i class="pi pi-bell text-4xl" pTooltip="Notifications" tooltipPosition="left"></i>
      </div>
      <div
        class=" flex profileImageSize font-light cursor-pointer text-3xl ml-3 bg-blue-800 text-white border-circle justify-content-center align-items-center"
        (click)="showlogout()">
        <ng-container>
          <ng-template #profileText><p>{{userData?.name.charAt(0).toUpperCase()}}</p></ng-template>
            <img [src]="userData?.image.changingThisBreaksApplicationSecurity" *ngIf="userData?.image; else profileText" width="100%" class="border-circle" height="100%" alt="Uploaded Image">
        </ng-container>
      </div>
    </div>
  </div>
</section>


<div class="flex flex-column align-items-start p-3 h-auto absolute bg-white searchresult border-round-xl"
  *ngIf="searching && searchresult.length>0; else noSearchResult">
  <div class="text-xl text-gray-800 p-1 text-overflow-ellipsis border-round-xl w-full  border-gray-400 cursor-pointer hover:bg-gray-200"
    *ngFor="let result of searchresult | slice:0:5" (click)="showDateTodo(result.date)">
        <!-- {{ result.heading | slice:0:44}} -->
        <div [innerHTML]="result.heading" class="m-0 p-0"></div>
  </div>
</div>

<ng-template #noSearchResult>
  <div class="flex flex-column align-items-start p-3 h-auto absolute bg-white searchresult border-round-xl"
    *ngIf="searching">
    <div
      class="text-xl text-red-800 p-1 text-overflow-ellipsis border-round-xl w-full  border-gray-400 cursor-pointer hover:bg-gray-200">
      Search Not Found!
    </div>
  </div>
</ng-template>

<div class="flex flex-column  p-3 absolute border-round-xl border-1 border-gray-300 right-0 mr-4 bg-white z-2"
  *ngIf="showlog">
  <div class="flex align-items-center">
    <div class=" flex w-3rem h-3rem mr-3 bg-blue-800 text-white border-circle justify-content-center align-items-center">
      <ng-template #profileText><p class="text-2xl">{{userData.name.charAt(0).toUpperCase()}}</p></ng-template>
            <img [src]="userData.image.changingThisBreaksApplicationSecurity" *ngIf="userData.image; else profileText" width="100%" class="border-circle" height="100%" alt="Uploaded Image">
    </div>
    <div class="flex flex-column">
      <label for="name" class="text-2xl">{{userData.name}}</label>
      <span>{{userData.email}}</span>
    </div>
  </div>
  <div class="list-none mt-3  mr-2 flex flex-column align-items-start ">
    <li class=" flex align-items-center hover:bg-gray-300 w-full px-2 border-round-xl mb-1 cursor-pointer" routerLink="profile"><a class="no-underline text-2xl text-gray-800"><i class="pi pi-user mr-3"></i> Profile</a></li>
    <hr class="border-bottom-1 border-gray-300 w-full mb-2">
    <li class=" flex align-items-center hover:bg-gray-300 w-full px-2 border-round-xl cursor-pointer mb-2" routerLink="settings"><a class="no-underline text-2xl text-gray-800"><i class="pi pi-unlock mr-3"></i>Settings</a></li>
    <li class=" flex align-items-center hover:bg-gray-300 w-full px-2 border-round-xl cursor-pointer mb-2" (click)="logoutSession()"><a class="no-underline text-2xl text-gray-800"><i class="pi pi-sign-out  mr-3"></i> Logout</a></li>
  </div>
</div>

<div class="z-2 notification-bar" *ngIf="notification_bar">
  <app-notification-bar></app-notification-bar>
</div>
