<section class="navbar w-full  h-auto py-3 align-items-center px-5 iconscolor m-0 p-0">
  <div class="flex justify-content-between align-items-center">
    <div class="flex justify-content-around align-items-center gap-5">
      <div
        class="flex align-items-center  hoverbtn border-circle w-3rem h-3rem align-items-center justify-content-center" (click)="toggleSidebar.emit()">
        <i class="pi pi-bars text-4xl "></i></div>
<h3>Todo'<span class="text-gray-500">s</span></h3>
      <span class="p-input-icon-left p-ml-auto text-gray-800">
        <i class="pi pi-search text-2xl"></i>
        <input pInputText type="text" [(ngModel)]="searchkey"  placeholder="Search keyword" class=" text-overflow-ellipsis max-w-10rem sm:min-w-2rem md:max-w-25rem h-3rem text-xl mr-2" (click)="searching=true" (blur)="searching=false" />
      </span>
    </div>

    <div class="flex align-items-center  gap-2">
      <div class="flex align-items-center cursor-pointer">
        <div class="border-circle navbar_notify relative text-xs flex justify-content-center align-items-center hoverbtn">2
        </div>
        <i class="pi pi-bell text-4xl" pTooltip="Notifications" tooltipPosition="left"></i>
      </div>
      <div pTooltip="Profile" tooltipPosition="bottom"><img src="../../../assets/images/user.jpg" alt=""
          class="border-circle w-3rem h-3rem border-fade-shadow ml-3 cursor-pointer" ></div>
    </div>
  </div>
</section>


<div class="flex flex-column align-items-start p-3 h-auto absolute bg-white searchresult border-round-xl" *ngIf="searching && searchresult.length>0; else noSearchResult">
<div class="text-xl text-gray-800 p-1 text-overflow-ellipsis  border-gray-400 cursor-pointer hover:bg-gray-300" *ngFor="let result of searchresult">
  {{ result.heading | slice:0:44}}
</div>
</div>

<ng-template #noSearchResult>
  <div class="flex flex-column align-items-start p-3 h-auto absolute bg-white searchresult border-round-xl" *ngIf="searching">
    <div class="text-xl text-red-800 p-1 text-overflow-ellipsis  border-gray-400 cursor-pointer hover:bg-gray-300" >
    Search Not Found!
    </div>
    </div>
</ng-template>




