.sidebar{
    display: none;
    width: auto;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    overflow: hidden;
    white-space: nowrap;
}

.show {
    display: block;
    border-top: none;
    background-color:var(--other-section);
  }


  .btnborder:hover{
    background-color: rgb(208, 208, 208);

  }

  .active{
    background-color: rgb(222, 222, 222);

  }
  

  .slide-in-left{-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

