.sidebarCompo{
    min-width: 20rem;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    // overflow: hidden;
    // white-space: nowrap;
}


  .btnborder:hover{
    background-color: rgb(208, 208, 208);

  }

  .active{
    background-color: rgb(222, 222, 222);

  }
  

