<section class="sidebarCompo container text-800">
    <div class="flex flex-column justify-content-start   text-2xl gap-5 ">
        <div class="flex  p-2   flex gap-3 cursor-pointer w-20rem btnborder border-round-xl " routerLink="todo" routerLinkActive="active"><i class="pi pi-calendar text-3xl"></i>Today</div>
        <div class="flex  p-2  flex gap-3 cursor-pointer  w-20rem btnborder border-round-xl" routerLink="history" routerLinkActive="active"><i class="pi pi-info-circle text-3xl"></i>About</div>     
    </div>
</section>