<section class="sidebar container absolute text-800 slide-in-left" [ngClass]="{'show': isOpen}">
    <div class="flex flex-column justify-content-start   text-2xl gap-5 ">
        <div class="flex  p-2   flex gap-3 cursor-pointer w-20rem btnborder border-round-xl active"><i class="pi pi-home text-3xl"></i>Home</div>
        <!-- <div class="flex  p-2  flex gap-3 cursor-pointer  w-20rem btnborder border-round-xl"><i class="pi pi-envelope text-3xl"></i>Assigned</div>      -->
    </div>
</section>