/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: roboto;
    src: url('./assets/fonts/Roboto-Medium.ttf');
}


body{
    padding: 0;
    margin: 0;
    font-family: 'roboto';
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color:var(--back-ground);
    
}

body::-webkit-scrollbar {
    display: none;
}


:root {
    font-size: 62.5%;
    font-family: 'roboto';
    --navbar: #062925;
    --back-ground: #ffffff;
    --other-section: #ececec;
    --btn-card: #7C9070;
    --hover-clr:#ffd493;

  }
  
  * {
    // outline: 1px solid;
    box-sizing: border-box;
    // user-select: none;
  }
  .container {
    padding: 2.4rem;
  }
  a{
    color: #5D5FEF;
    text-decoration: #5D5FEF underline;
  }


  h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.8rem;
  font-weight: 700;
}
h5 {
  font-size: 1.6rem;
  font-weight: 500;
}
h6 {
  font-size: 1.4rem;
  font-weight: 700;
}

.iconscolor{
  color:rgb(255, 255, 255);
}

.textColor{
  color:rgb(0, 0, 0);
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


//for border shadow
.border-fade-shadow{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
 }
 