<div class="taskAssign">
    <div class="flex justify-content-between realwidth border-bottom-1 p-3 border-500">
        <div class="flex align-items-center gap-5">
            <h3><i class="pi pi-envelope text-2xl mr-3"></i>Assign Task</h3>
        </div>
        <div class='flex gap-3'>
            <input pInputText class="max-w-full w-25rem text-2xl"  placeholder='Search Name...' type='text'>
            <a type='submit' class="hoverMe"><i class="pi pi-search"></i> Search</a>
          </div>  
    </div>


    <div class="w-26rem flex flex-column justify-content-center">
        <div class='w-auto h-auto' *ngIf="DataCome; else loading">
            <div class="flex justify-content-start gap-3 p-3 w-25rem mt-3 m-2 hoverMe h-full align-items-center text-2xl box-shadow-to-all " *ngFor="let user of users">
                 <div class="w-4rem h-4rem border-circle bg-gray-300">
                     <img [src]="user.image.changingThisBreaksApplicationSecurity" *ngIf="user.image" width="100%" class="border-circle" height="100%" alt="Uploaded Image">
                 </div>
                 <div>
                   {{user.name}}
                 </div>
             </div>
        </div>
        <div class="w-full">
            <ng-template #loading>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
                <p-skeleton height="4rem" width="25rem" styleClass="p-mb-2 m-2 mt-3"></p-skeleton>
            </ng-template>
        </div>
    </div>  




</div>
